<div class="navbar" navbar-default style="background-color: pink">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Data Mahasiswa</a>
    </div>
    <div class="nav navbar-nav">
      <ul class="nav navbar-nav">
          <li routerLinkActive="active">
              <a routerLink="/home">Home</a>
            </li>
        <li routerLinkActive="active">
          <!-- <a href="#" (click)="onSelect('mahasiswa')">Mahasiswas</a> -->
          <a routerLink="/mahasiswas">Mahasiswa</a>
        </li>
        <li routerLinkActive="active">
          <!-- <a href="#" (click)="onSelect('masukan-list')">Masukan-List</a> -->
          <a routerLink="/masukan-list">Masukan</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a style="cursor:pointer;" class="dropdown-toggle" role="button">Atur<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a style="cursor:pointer;"(click)="onSaveData()">Save Data</a>
            </li>
            <li>
              <a style="cursor:pointer;"(click)="onFetchData()">Fetch Data</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>