<div class="row">
  <div class="col-xs-12">
    <img [src]="mahasiswa.imagePath" 
    alt="{{mahasiswa.name}}" 
    class="img-responsive"
    style="max-height:300px">
</div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{mahasiswa.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div 
    class="btn-group"
    appDropdown>
      <button type="button" 
      class="btn btn-primary dropdown-toogle">
        Pengaturan Mahasiswa<span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="onAddMasukanList()" style="cursor:pointer;"> Masukan </a></li>
        <li><a style="cursor:pointer;"(click)="onEditMahasiswa()">Edit Mahasiswa</a></li>
        <li><a style="cursor:pointer;"(click)="onDeleteMahasiswa()">Delete Mahasiswa</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{mahasiswa.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <!-- Ingredeint -->
    <ul class="list-group">
      <li
      class="list-group-item"
      *ngFor="let ingredient of mahasiswa.ingredients">
        {{ingredient.name}}
      </li>
    </ul>
  </div>
</div>


